a {
    text-decoration: none;
}

.low-bg-color {
    background-color: green; /* Define your custom background color here */
}

.medium-bg-color {
    background-color: orange; /* Define your custom background color here */
}

.high-bg-color {
    background-color: red; /* Define your custom background color here */
}

.critical-bg-color {
    background-color: darkred; /* Define your custom background color here */
}

.kanban-board {
    display: flex;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: grab;
}