{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container mt-3">
  <h2>{{ task.title }}</h2>
  <div class="card mt-3">
    <div class="card-body">
      <p class="card-text">{{ task.description }}</p>
      <p class="card-text"><span class="fw-bold">Status:</span> <span class="badge bg-primary">{{ task.status }}</span></p>
      {% if task.priority == "low" %}
        <p class="card-text"><span class="fw-bold">Priority:</span> <span class="badge low-bg-color">{{ task.priority }}</span></p>
      {% elif task.priority == "low" %}
        <p class="card-text"><span class="fw-bold">Priority:</span> <span class="badge medium-bg-color">{{ task.priority }}</span></p>
      {% elif task.priority == "high" %}
        <p class="card-text"><span class="fw-bold">Priority:</span> <span class="badge high-bg-color">{{ task.priority }}</span></p>
      {% elif task.priority == "critical" %}
        <p class="card-text"><span class="fw-bold">Priority:</span> <span class="badge critical-bg-color">{{ task.priority }}</span></p>
      {% endif %}
      <p class="card-text"><span class="fw-bold">Due to:</span> {{ task.due_date }}</p>
    </div>
  </div>

  <div class="mt-3">
    <a href="{% url 'task-delete' task.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'task-update' task.pk %}" class="btn btn-warning ms-2">Edit</a>
  </div>

  <form method="post" action="{% url 'task-detail' task.pk %}" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>

  <div class="mt-3">
    {% for comment in task.comments.all %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ comment.author.username }}</h5>
          <p class="card-text">{{ comment.content }}</p>
          <p class="card-text"><small class="text-muted">Posted: {{ comment.created_at }}</small></p>
          {% if comment.author_id == request.user.id %}
            <a href="{% url 'comment-delete' comment.pk %}" class="btn btn-sm btn-danger">Delete</a>
            <a href="{% url 'comment-update' comment.pk %}" class="btn btn-sm btn-warning">Edit</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
