{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
  <h2>
    {{ task.title }}
  </h2>
  <br>
  {{ task.description }}
  <br>
  <p>
    Status: <span class="badge text-bg-primary">{{ task.status }}</span>
  </p>
  <p>
    Priority: <span class="badge text-bg-secondary">{{ task.priority }}</span>
  </p>
  <p>Due to: {{ task.due_date }}</p>
  <div>
    <a href="{% url 'task-delete' task.pk %}">
      <button class="btn btn-danger">Delete</button>
    </a>
  </div>
  <button class="btn btn-warning">Edit</button>
</div>
{% endblock %}